.about {
    height: 100vh;
    display: flex;
    align-items: center;

    .about-img {
        width: 50%;
        height: 50vh;
        display: flex;
        align-items: center;
    }

    .about-desc {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0 0 2rem 0;
        }

        p {
            width: 35vw;
        }
    }
}
