.about {
    height: 100vh;
    padding: 0 12.5rem;
    display: flex;
    align-items: center;

    .about-img {
        width: 50%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30rem;
            height: auto;
        }
    }

    .about-desc {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0 0 2rem 0;
        }

        p {
            width: 35vw;
        }
    }
}

@include breakpoint(xl) {
    .about {
        padding: 0 10rem;

        .about-img {
            img {
                width: 28rem;
            }
        }
    }
}

@include breakpoint(l) {
    .about {
        padding: 0 6rem;
    }
}

@include breakpoint(m) {
    .about {
        padding: 0 1rem;

        .about-img {
            img {
                width: 24rem;
            }
        }
    }
}

@include breakpoint(s) {
    .about {
        flex-direction: column;
        justify-content: center;

        .about-img {
            height: 50vh;

            img {
                width: 30rem;
            }
        }
        .about-desc {
            width: 95vw;
            height: 50vh;

            p {
                width: 95vw;
            }
        }
    }
}

@include breakpoint(xs) {
    .about {
        .about-img {
            img {
                width: 24rem;
            }
        }
    }
}

@include breakpoint(xxs) {
    .about {
        .about-img {
            img {
                width: 16rem;
            }
        }
    }
}
