.contact {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 100vw;

    .contact-field {
        text-align: center;

        .contact-title {
            width: auto;
            cursor: pointer;
            position: relative;
            z-index: 0;

            .wave {
                animation-name: wave;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                transform-origin: 70% 70%;
                display: inline-block;
            }
        }

        .contact-title:after {
            content: '';
            display: block;
            position: absolute;
            top: 2rem;
            left: 1rem;
            width: 3rem;
            height: 60%;
            background: rgba(48, 198, 243, 0.15);
            transition: width 0.3s;
            z-index: -1;
        }

        .contact-title:hover:after {
            width: 100%;
        }
    }
}

@include breakpoint(xs) {
    .contact {
        .contact-field {
            .contact-title:after {
                top: 1rem;
                left: 0.5rem;
            }
        }
    }
}
