footer {
    height: 10vh;
    padding: 0 12.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-socials {
        justify-content: flex-end;
        ul {
            list-style: none;
            display: flex;
            li {
                padding: 0 0 0 4rem;
            }
        }
    }
}

@include breakpoint(xl) {
    footer {
        padding: 0 10rem;
    }
}

@include breakpoint(l) {
    footer {
        padding: 0 6rem;
    }
}

@include breakpoint(m) {
    footer {
        padding: 0 1rem;
    }
}

@include breakpoint(xs) {
    footer {
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
        padding: 0;

        .nav-socials {
            margin: 2rem 0 0 0;
            justify-content: center;

            ul {
                list-style: none;
                display: flex;
                li {
                    padding: 0 2rem 0 2rem;
                }
            }
        }
    }
}
