*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $font;
    font-weight: 400;
    font-size: 0.8725rem;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: rgb(74, 22, 170);
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(74, 22, 170);
}
