*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $font;
    font-weight: 400;
    font-size: 0.8725rem;
    letter-spacing: 0.06rem;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: rgb(48, 198, 243);
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(48, 198, 243);
}

button {
    font-family: $font;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 5rem;
}

h2 {
    font-size: 4rem;
    font-weight: 900;
}

h3 {
    font-size: 1.75rem;
    font-weight: 800;
}

h4 {
    font-size: 0.9375rem;
    font-weight: 800;
}

p {
    font-size: 0.9375rem;
    font-weight: 600;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
