header {
    height: 10vh;
    padding: 0 12.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-links {
        justify-content: flex-end;
        ul {
            list-style: none;
            display: flex;

            li {
                padding: 0 0 0 4rem;

                button {
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                button:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    background: $black;
                    transition: width 0.3s;
                }

                button:hover:after {
                    width: 100%;
                }
            }
        }
    }

    .ham-nav {
        display: none;
    }

    .mobile-nav {
        width: 100vw;
        height: 90vh;
        padding: 4rem;
        position: absolute;
        top: 10vh;
        left: 0;
        z-index: 1;
        background: $white;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@include breakpoint(xl) {
    header {
        padding: 0 10rem;
    }
}

@include breakpoint(l) {
    header {
        padding: 0 6rem;
    }
}

@include breakpoint(m) {
    header {
        padding: 0 1rem;
    }
}

@include breakpoint(xs) {
    header {
        .nav-links {
            display: none;
        }
        .ham-nav {
            display: block;
            font-size: 1.25rem;
            transition: ease-in-out 300ms;

            cursor: pointer;
        }

        .mobile-nav {
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            ul {
                li {
                    margin: 0 0 5rem 0;
                    text-align: center;

                    button {
                        font-size: 1.25rem;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-weight: 800;
                    }

                    button:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $black;
                        transition: width 0.3s;
                    }

                    button:hover:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
