.portfolio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .bg-box {
        width: 100%;
        height: 25vh;
        background: #86e2d5;

        position: absolute;
        top: 370vh;
        left: 0;
        z-index: -1;
    }

    .project {
        display: flex;

        .project-desc {
            width: 40%;

            h3 {
                margin: 0 0 2rem 0;
            }

            p {
                font-weight: 400;
                margin: 0 0 2rem 0;
            }

            ul {
                display: flex;
                margin: 0 0 2rem 0;

                li {
                    margin: 0 1rem 0 0;

                    a:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background: $black;
                        transition: width 0.3s;
                    }

                    a:hover:after {
                        width: 100%;
                    }
                }
            }
        }

        .project-img {
            width: 60%;
            display: flex;
            justify-content: flex-end;

            img {
                width: 90%;
                height: auto;
            }
        }
    }
}
