.resume {
    height: 100vh;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin: 0 0 1rem 0;
    }

    li {
        margin: 0 0 0.3rem 0;
    }

    .resume-title {
        margin: 0 0 2rem 10rem;

        h2 {
            display: inline;
            position: relative;
            z-index: 0;
        }

        h2:after {
            content: '';
            display: block;
            position: absolute;
            top: 2rem;
            left: 1rem;
            width: 3rem;
            height: 60%;
            background: rgba(48, 198, 243, 0.15);
            transition: width 0.3s;
            z-index: -1;
        }

        h2:hover:after {
            width: 100%;
        }
    }

    .resume-content {
        display: flex;
        margin: 0 0 0 10rem;

        .resume-left {
            width: 50%;

            .works-list {
                display: flex;
                height: 12rem;

                ul {
                    width: 50%;

                    .works-title {
                        font-size: 1rem;
                        font-weight: 700;
                    }

                    .works-place {
                        font-weight: 400;
                    }

                    .works-date {
                        font-weight: 400;
                    }
                }
            }

            .education-list {
                display: flex;
                height: 12rem;

                ul {
                    .edu-title {
                        font-size: 1rem;
                        font-weight: 700;
                    }

                    .edu-place {
                        font-weight: 400;
                    }

                    .edu-date {
                        font-weight: 400;
                    }
                }
            }

            .nav-socials {
                justify-content: flex-end;
                margin: 1rem 0 0 0;
                ul {
                    list-style: none;
                    display: flex;
                    li {
                        padding: 0 2rem 0 0;
                    }
                }
            }
        }

        .resume-right {
            width: 50%;

            .skills-list {
                display: flex;
                height: 12rem;

                ul {
                    width: 50%;
                }
            }

            .lang-list {
                display: flex;
                height: 12rem;
            }

            .resume-button {
                width: 50%;

                .btn {
                    font-size: 1.75rem;
                    font-weight: 800;
                    color: $black;
                    text-decoration: none;
                    display: inline-block;
                }

                .btn:after {
                    content: '';
                    display: block;
                    width: 3rem;
                    height: 2px;
                    background: $black;
                    transition: width 0.3s;
                }

                .btn:hover:after {
                    width: 100%;
                }
            }
        }
    }
}
