.blog-post {
    margin: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .post-category {
        margin: 0 0 1rem 0;
        text-align: center;
        width: 35vw;
    }

    .post-title {
        margin: 0 0 4rem 0;
        text-align: center;
        width: 35vw;
        font-size: 2.25rem;
        line-height: 3rem;
    }

    .post-content {
        width: 35vw;

        h2,
        h3,
        h4 {
            margin: 3rem 0 1rem 0;
        }

        p {
            font-size: 1.25rem;
            font-weight: 400;
            margin: 0 0 1rem 0;
        }

        pre {
            font-size: 1rem;
            margin: 0 0 1rem 0;
            width: 100%;
            padding: 1rem;

            background: #f8f8f8;

            code {
                width: 10rem;
                font-weight: 400;
            }
        }

        ol {
            margin: 0 0 1rem 0;
            li {
                list-style: decimal inside;
                font-size: 1.25rem;
                font-weight: 400;
            }
        }
    }
}

@include breakpoint(l) {
    .blog-post {
        .post-category,
        .post-title,
        .post-content {
            width: 60vw;
        }
    }
}

@include breakpoint(s) {
    .blog-post {
        .post-category,
        .post-title,
        .post-content {
            width: 90vw;
        }
    }
}
