.blog-post {
    margin: 5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .post-category {
        margin: 0 0 1rem 0;
        text-align: center;
        width: 35vw;
    }

    .post-title {
        margin: 0 0 4rem 0;
        text-align: center;
        width: 35vw;
        font-size: 2.25rem;
    }

    .post-content {
        width: 35vw;

        h2,
        h3,
        h4 {
            margin: 3rem 0 1rem 0;
        }

        p {
            font-size: 1.25rem;
            margin: 0 0 1rem 0;
        }
    }
}
